/* NPM command: npx tailwindcss -i ./app/globals.css -o ./public/output.css --watch */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: rgb(0, 0, 0);
  --background-start: rgb(214, 219, 220);
  --background-end: rgb(255, 255, 255);
  --background-yellow: rgb(251, 177, 60);
  --background-blue: rgb(64, 80, 175);
  --background-teal: rgb(151, 216, 196);
  --text-black: rgb(38, 38, 38);
  --eafc24-color: #14F57B;
}

html, body {
  font-family: 'Lato', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    margin: 0;
    padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* NavBar */

.active {
  border-bottom: 3px solid var(--eafc24-color);
  border-radius: 5px;
}

.active > span {
  color: var(--eafc24-color);
}

/* Color Themes */

.yellow-bg {
  background-color: var(--background-yellow);
}

.yellow-text {
  color: var(--background-yellow);
}

.yellow-border {
  border-color: var(--background-yellow);
}

.text-dark {
  color: var(--text-black);
}

/* Slider */

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: var(--eafc24-color); /* Thumb color */
  cursor: pointer;
  border-radius: 50%;
  margin-top: -4px;
  box-shadow: 0px 0px 10px #444;
}

input[type='range']::-moz-range-thumb {
  appearance: none;
  height: 20px;
  width: 20px;
  background: var(--eafc24-color); /* Thumb color */
  cursor: pointer;
  border-radius: 50%;
  margin-top: -4px;
  box-shadow: 0px 0px 10px #444;
}

.my-range::-webkit-slider-runnable-track {
  height: 10px;
  border-radius: 10px;
}

.my-range::-moz-range-track {
  height: 10px;
  border-radius: 10px;
}

/* Value based Ranges */

.range-45::-webkit-slider-runnable-track {
  background: linear-gradient(to right, var(--eafc24-color) 45%, #444 45%);
}

.range-45::-moz-range-track {
  background: linear-gradient(to right, var(--eafc24-color) 45%, #444 45%);
}

.range-55::-webkit-slider-runnable-track {
  background: linear-gradient(to right, var(--eafc24-color) 55%, #444 45%);
}

.range-55::-moz-range-track {
  background: linear-gradient(to right, var(--eafc24-color) 55%, #444 45%);
}

/* EAFC 24 */

.text-eafc {
  color: var(--eafc24-color);
}

.border-eafc {
  border-color: var(--eafc24-color);
}

.bg-eafc {
  background-color: var(--eafc24-color);
}

/* Difficulty Tags Colors */

.text-beginner {
  color: #68DE3E;
}

.text-intermediate {
  color: var(--background-yellow);
}

.text-advanced {
  color: #FF5447;
}

.bg-beginner {
  background-color: #68DE3E;
}

.bg-intermediate {
  background-color: var(--background-yellow);
}

.bg-advanced {
  background-color: #FF5447;
}

.border-beginner {
  border-color: #68DE3E;
}

.border-intermediate {
  border-color: var(--background-yellow);
}

.border-advanced {
  border-color: #FF5447;
}

.homeCL {
  height: 216px;
  width: 381px;
  transition: all 0.2s ease-out;
}

.activeCL {
  height: 248px;
  width: 438px;
  margin: 0 auto;
}

.home-container {
  width: 1470px;
  overflow-x: auto;
  white-space: nowrap;
}

.home-container::-webkit-scrollbar {
  display: none;
}

.home-container img {
  flex-shrink: 0;
}

.background-transition {
  transition: background-image 0.5s ease-in-out;
  background-size: cover;
  background-position: center;
}

.game-background {
  background-image: url("/assets/gamePageBackground.png");
  background-size: cover;
  background-repeat: repeat-y;
  position: fixed;
}