/* NPM command: npx tailwindcss -i ./app/globals.css -o ./public/output.css --watch */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: rgb(0, 0, 0);
  --background-start: rgb(214, 219, 220);
  --background-end: rgb(255, 255, 255);
  --background-yellow: rgb(251, 177, 60);
  --background-blue: rgb(64, 80, 175);
  --background-teal: rgb(151, 216, 196);
  --text-black: rgb(38, 38, 38);
  --eafc24-color: #22C55E;
  --valo-color: #818CF8;
  --background-primary: rgb(20 184 166);
  --background-gold: rgb(245, 158, 11);
  --red-color: #FF4655;
}

html, body {
  font-family: 'Lato', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    margin: 0;
    padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* NavBar */

.logo > img {
  scale: 1;
  transition: ease-out 0.2s;
}

.logo:hover > img {
  scale: 1.05
}

.active-eafc {
  border-left: 3px solid var(--eafc24-color);
  background-color: #22C55E20;
}

.active-eafc > span {
  color: var(--eafc24-color);
}

.active-valo {
  border-left: 3px solid var(--valo-color);
  background-color: #818CF830;
}

.active-valo > span {
  color: var(--valo-color);
}

.hover-eafc {
  box-shadow: inset 0 0 0 0 var(--eafc24-color);
  transition: ease-in 0.3s;
  outline: none;
}

.hover-eafc:hover {
  box-shadow: inset 500px 0 0 0 var(--eafc24-color);
  color: #262626;
}

.hover-valo {
  box-shadow: inset 0 0 0 0 var(--valo-color);
  transition: ease-in 0.3s;
  outline: none;
  font-weight: 700;
}

.hover-valo:hover {
  box-shadow: inset 500px 0 0 0 var(--valo-color);
  color: #262626;
}

.child {
  color: white;
  transition: ease-in 0.3s;
}

.hover-eafc:hover .child {
  color: #262626;
}

.hover-valo:hover .child {
  color: #262626;
}

.hover-navMain {
  box-shadow: inset 0 0 0 0 var(--background-primary);
  transition: ease-in 0.3s;
  outline: none;
}

.navImg img {
  transition: ease-in 0.3s;
}

.navImg-eafc:hover img {
  filter: invert();
}

.navImg-valo:hover img {
  filter: brightness(0%);
}

.hover-navMain:hover {
  box-shadow: inset 500px 0 0 0 var(--background-primary);
}

.hover-navMain:hover > .child {
  color: #262626;
}

.hover-valo:hover {
  box-shadow: inset 500px 0 0 0 var(--valo-color);
  color: #262626;
}

/* Color Themes */
.bg-primary {
  background-color: var(--background-primary);
}
.bg-primary30 {
  background-color: rgb(20, 184, 166, 0.3);
}

.text-primary {
  color: var(--background-primary);
}

.yellow-bg {
  background-color: var(--background-yellow);
}

.yellow-text {
  color: var(--background-yellow);
}

.yellow-border {
  border-color: var(--background-yellow);
}

.text-dark {
  color: var(--text-black);
}

.bg-dark {
  background-color: var(--text-black);
}

/* Slider */

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: var(--eafc24-color); /* Thumb color */
  cursor: pointer;
  border-radius: 50%;
  margin-top: -4px;
  box-shadow: 0px 0px 10px #444;
}

input[type='range']::-moz-range-thumb {
  appearance: none;
  height: 20px;
  width: 20px;
  background: var(--eafc24-color); /* Thumb color */
  cursor: pointer;
  border-radius: 50%;
  margin-top: -4px;
  box-shadow: 0px 0px 10px #444;
}

.my-range::-webkit-slider-runnable-track {
  height: 10px;
  border-radius: 10px;
}

.my-range::-moz-range-track {
  height: 10px;
  border-radius: 10px;
}

/* Value based Ranges */

.range-45::-webkit-slider-runnable-track {
  background: linear-gradient(to right, var(--eafc24-color) 45%, #444 45%);
}

.range-45::-moz-range-track {
  background: linear-gradient(to right, var(--eafc24-color) 45%, #444 45%);
}

.range-55::-webkit-slider-runnable-track {
  background: linear-gradient(to right, var(--eafc24-color) 55%, #444 45%);
}

.range-55::-moz-range-track {
  background: linear-gradient(to right, var(--eafc24-color) 55%, #444 45%);
}

/* EAFC 24 */

.text-eafc {
  color: var(--eafc24-color);
}

.border-eafc {
  border-color: var(--eafc24-color);
}

.bg-eafc {
  background-color: var(--eafc24-color);
}

.button-hover-eafc:hover {
  background-color: var(--eafc24-color);
  color: var(--text-black);
}

/* Valorant */

.text-valo {
  color: var(--valo-color)
}

.border-valo {
  border-color: var(--valo-color);
}

.bg-valo {
  background-color: var(--valo-color);
}

.bg-valo30 {
  background-color: #818CF830;
}

.bg-valo90 {
  background-color: #818CF890;
}

.button-hover-valo:hover {
  background-color: var(--valo-color);
  color: var(--text-black);
}

.bg-eafc20 {
  background-color: #22C55E20;
}

/* Difficulty Tags Colors */

.text-beginner {
  color: #68DE3E;
}

.text-intermediate {
  color: var(--background-yellow);
}

.text-advanced {
  color: #FF5447;
}

.bg-beginner {
  background-color: #7BC0E5;
}

.bg-beginner30 {
  background-color: #7BC0E530;
  box-shadow: inset 0 0 0 0 #7BC0E5;
  transition: ease-in 0.3s;
}

.bg-beginner30:hover {
  box-shadow: inset 0 300px 0 0 #7BC0E5;
  color: #262626;
}

.bg-intermediate {
  background-color: var(--background-yellow);
}
.bg-intermediate30 {
  background-color: rgb(251, 177, 60, 0.3);
  box-shadow: inset 0 0 0 0 rgb(251, 177, 60);
  transition: ease-in 0.3s;
}

.bg-intermediate30:hover {
  box-shadow: inset 0 300px 0 0 rgb(251, 177, 60);
  color: #262626;
}

.bg-advanced {
  background-color: #F88379;
}
.bg-advanced30 {
  background-color: #F8837930;
  box-shadow: inset 0 0 0 0 #F88379;
  transition: ease-in 0.3s;
}

.bg-advanced30:hover {
  box-shadow: inset 0 300px 0 0 #F88379;
  color: #262626;
}

.border-beginner {
  border: 1px solid;
  border-color: #68DE3E;
}

.border-intermediate {
  border: 1px solid;
  border-color: var(--background-yellow);
}

.border-advanced {
  border: 1px solid;
  border-color: #FF5447;
}


.homeCL {
  height: 216px;
  width: 381px;
  transition: all 0.2s ease-out;
}

.CLlogo {
  width: 300px;
}

.activeCL {
  height: 248px;
  width: 438px;
  margin: 0 auto;
}

.home-container {
  width: 1470px;
  height: 400px;
  overflow-x: auto;
  white-space: nowrap;
}

.home-container::-webkit-scrollbar {
  display: none;
}

.home-container img {
  flex-shrink: 0;
}

.background-transition {
  transition: background-image 0.5s ease-in-out;
  background-size: cover;
  background-position: center;
}

/* Backgrounds */

.game-background {
  background-image: url("/assets/gameBackground.png");
  background-size: cover;
  background-repeat: repeat-y;
  position: fixed;
}

.playerCard-background {
  background-image: url("/assets/gameBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 2%;
}

.playerCard-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6); /* Black overlay with 50% opacity */
  z-index: 1;
  border-radius: 2%;
}

.nav-background {
  background-image: url("/assets/navBackgroundR.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6); /* Black overlay with 50% opacity */
  z-index: 1;
}

.navGame {
  width: 160px;
}

.navDP {
  width: 486px
}

.playerRank-bg {
  background-image: url("/assets/eafc24/illustrations/rankingTitle.png");
  background-size: 70%;
  background-repeat: no-repeat;
  position: relative;
}

.skill-background {
  background-image: url("/assets/navBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 2%;
}

.skill-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6); /* Black overlay with 50% opacity */
  z-index: 1;
  border-radius: 2%;
}

.valo-background {
  background-image: url("/assets/gameBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 2%;
}

.valo-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); /* Black overlay with 50% opacity */
  z-index: 1;
  border-radius: 2%;
}

/* Filters */

.bg-balanced {
  background-color: #177245;
}
.bg-balanced30 {
  background-color: #17724530;
  box-shadow: inset 0 0 0 0 #177245;
  transition: ease-in 0.3s;
}

.bg-balanced30:hover {
  box-shadow: inset 0 300px 0 0 #177245;
  color: #ffffff;
}

.bg-offensive {
  background-color: #c14d00;
}
.bg-offensive30 {
  background-color: #c14d0030;
  box-shadow: inset 0 0 0 0 #c14d00;
  transition: ease-in 0.3s;
}

.bg-offensive30:hover {
  box-shadow: inset 0 300px 0 0 #c14d00;
  color: #ffffff;
}

.bg-defensive {
  background-color: #0033CC;
}
.bg-defensive30 {
  background-color: #0033CC30;
  box-shadow: inset 0 0 0 0 #0033CC;
  transition: ease-in 0.3s;
}

.bg-defensive30:hover {
  box-shadow: inset 0 300px 0 0 #0033CC;
  color: #ffffff;
}

/* Custom Scrollbar Styles */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: var(--valo-color) #0c0b0b; /* thumb and track color */
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #0c0b0b; /* color of the track */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: var(--valo-color); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 2px solid #0c0b0b; /* creates padding around scroll thumb */
}

/* All Transitions */

.hoverCard:hover {
  scale: 1.03;
  transition: ease-in 0.15s;
}

.hoverCard:hover img {
  opacity: 1;
  filter: saturate(100%);
  transition: ease-in 0.15s;
}

.hoverButton {
  box-shadow: inset 0 0 0 0 #262626;
  transition: ease-in 0.2s;
}

.hoverButton:hover {
  box-shadow: inset 300px 0 0 0 #262626;
  color: var(--background-primary);
}

.hoverIconButton {
  box-shadow: inset 0 0 0 0 #262626;
  transition: ease-in 0.2s;
}

.hoverIconButton:hover {
  box-shadow: inset 100px 0 0 0 #262626;
  color: var(--background-primary);
}

.hoverStrokeButton {
  box-shadow: inset 0 0 0 0 var(--background-primary);
  transition: ease-in 0.2s;
}

.hoverStrokeButton:hover {
  box-shadow: inset 300px 0 0 0 var(--background-primary);
  color: #262626;
}

/* EAFC 24 */

.hoverButton-eafc {
  box-shadow: inset 0 0 0 0 var(--eafc24-color);
  transition: ease-in 0.3s;
}

.hoverButton-eafc:hover {
  box-shadow: inset 0 300px 0 0 var(--eafc24-color);
  color: #262626;
}

.hoverScale-eafc {
  scale: 1;
  transition: ease-in 0.1s;
}

.hoverScale-eafc:hover {
  scale: 1.1;
}

.hoverColor-eafc:hover {
  color: var(--eafc24-color);
  transition: ease-in 0.1s
}

.hoverPlayer-eafc {
  scale: 1;
  transition: ease-in 0.1s;
}

.hoverPlayer-eafc:hover {
  scale: 1.05;
}

.hoverPopular-eafc {
  background-color: #f59e0b30;
  box-shadow: inset 0 0 0 0 #f59e0b;
  transition: ease-in 0.3s;
  border-radius: 1%;
}
.hoverPopular-eafc:hover {
  box-shadow: inset 0 300px 0 0 #f59e0b;
  color: #262626;
}

.bg-2skill {
  background-color: #84cc16;
}

.bg-2skill30 {
  background-color: #84cc1630;
  box-shadow: inset 0 0 0 0 #84cc16;
  border-radius: 1%;
  transition: ease-in 0.3s;
}

.bg-2skill30:hover {
  box-shadow: inset 0 300px 0 0 #84cc16;
  color: #262626;
}

.bg-3skill30 {
  background-color: #fbb13c30;
  box-shadow: inset 0 0 0 0 #fbb13c;
  border-radius: 1%;
  transition: ease-in 0.3s;
}

.bg-3skill30:hover {
  box-shadow: inset 0 300px 0 0 #fbb13c;
  color: #262626;
}

.bg-4skill {
  background-color: #be123c;
}

.bg-4skill30 {
  background-color: #be123c30;
  box-shadow: inset 0 0 0 0 #be123c;
  border-radius: 1%;
  transition: ease-in 0.3s;
}

.bg-4skill30:hover {
  box-shadow: inset 0 300px 0 0 #be123c;
  color: white;
}

/* Valorant */

.hover-valo-icon {
  box-shadow: inset 0 0 0 0 #818CF830;
  outline: none;
  transition: ease-in 0.3s;
}

.hover-valo-icon:hover {
  box-shadow: inset 0 300px 0 0 #818CF830;
}

.hoverScale-valo {
  scale: 1;
  transition: ease-in 0.1s;
}

.hoverScale-valo:hover {
  scale: 1.1;
}

.hoverMap-valo {
  scale: 1;
  transition: ease-in 0.1s;
}

.hoverMap-valo:hover {
  scale: 1.05;
}

.hoverCross-valo {
  scale: 1;
  transition: ease-in 0.1s;
}

.hoverCross-valo:hover {
  scale: 1.03;
}

.hoverButton-valo {
  box-shadow: inset 0 0 0 0 #818CF8;
  transition: ease-in 0.3s;
  background-color: var(--background-primary);
}

.hoverButton-valo:hover {
  box-shadow: inset 300px 0 0 0 #818CF8;
}

.hoverIconButton-valo {
  box-shadow: inset 0 0 0 0 #818CF8;
  transition: ease-in 0.3s;
  background-color: #262626;
  color: var(--valo-color)
}

.hoverIconButton-valo:hover {
  box-shadow: inset 200px 0 0 0 #818CF8;
  color: #262626
}

.hoverImageFilter {
  box-shadow: inset 0 0 0 0 #818CF8;
  outline: none;
  transition: ease-in 0.3s;
}

.hoverImageFilter:hover {
  box-shadow: inset 0 300px 0 0 #818CF8;
  color: #262626;
  font-weight: 700;
}

.hoverImageFilter img {
  transition: ease-in 0.2s
}

.hoverImageFilter:hover img {
  filter: brightness(0%);
  opacity: 1;
}

.hoverClose {
  box-shadow: inset 0 0 0 0 #FF4655;
  transition: ease-in 0.3s;
  background-color: #DC2626;

}

.hoverClose:hover {
  box-shadow: inset 300px 0 0 0 #EF4444;
}

/* Media Queries */

/* Min width is lg, mid-width: xl in TailwindCSS */

/* Least Width */

@media (max-width: 1280px) {
  .home-container {
    width: 800px;
    height: 300px;
    overflow-x: auto;
    white-space: nowrap;
  }
  .homeCL {
    width: 300px;
    height: 170px;
    transition: all 0.2s ease-out;
  }
  .CLlogo {
    width: 250px;
  }
  .navGame {
    width: 130px;
  }
  .navDP {
    width: 36px
  }
}

/* Mid Width */


@media (min-width: 1281px) and (max-width: 1536px) {
  .home-container {
    width: 1100px;
    height: 350px;
    overflow-x: auto;
    white-space: nowrap;
  }
  .homeCL {
    width: 350px;
    height: 198px;
    transition: all 0.2s ease-out;
  }
  .CLlogo {
    width: 250px;
  }
}